<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Digit Recognizer App</title>
</head>
<body>
   <h1>Kaggle Digit Recognizer app</h1>
   <form name="Item_1" action="/" method="POST" enctype="multipart/form-data">
    <label for="exampleFormControlFile2">Choose model</label>
    <input type="file" name="file">
      <select name="models">
        {% for model in models %}
          <option value="{{ model }}" SELECTED>{{ model }}</option>
        {% endfor %}     
      </select>
    <input type=submit value=Upload>
</body>
</html>